// @import "./colors";
// @import "./mixins";
// @import "./components";

@use './colors';
@use './components';
@use './mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
//   font-family: "Dancing Script", cursive;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
